<style type="text/css">
	.form-control{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
	}
	.table>thead>tr>th {
    padding: 5px;
	}
	#status:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: 1px solid #adadad;
	}
/*	div {
    height:50px;
}
.short-div {
    height:25px;
}*/
</style>
<div class="row">
<div class="col-md-12"><center><label class="main-label">Email Log</label></center></div>
</div>

<div class="row" ng-if="emailLogList.length>0">
<div class="col-md-12">	
    <table  class="table table-bordered table-striped  table-responsive"  >
	<!-- <caption>- : Emial Log : -</caption> -->
	<thead>
		<tr>
			<th rowspan="2" style="padding:25px;"><center>Batch Id</center></th>
			<th rowspan="2" style="padding:25px;"><center>File Name</center></th>
			<th colspan="4"><center>Email Notification Details (Payment Reminder)</center></th>
		</tr>
		<tr>
			<th><center>Total</center></th>
			<th><center>Sent</center></th>
			<th><center>Pending</center></th>
			<th><center>Fail</center></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="emailLog in emailLogList | filter:search " >
			<td><center>{{emailLog.batchId}}</center></td>	
			<td><center>{{emailLog.fileName}}</center></td>	
			<td id ="status" ng-click="getLogDetail(emailLog,'A')" ><center tooltip-placement="top" uib-tooltip="click to open all records">{{emailLog.total}}</center></td>	
			<td id ="status" ng-click="getLogDetail(emailLog,'Y')" ><center tooltip-placement="top" uib-tooltip="click to open sent records">{{emailLog.sent}}</center></td>	
			<td id ="status" ng-click="getLogDetail(emailLog,'N')" ><center tooltip-placement="top" uib-tooltip="click to open pending records">{{emailLog.pending}}</center></td>	
			<td id ="status" ng-click="getLogDetail(emailLog,'F')" ><center tooltip-placement="top" uib-tooltip="click to open failed records">{{emailLog.fail}}</center></td>	
		</tr>
	</tbody>
</table>
</div>
</div>


<div ng-if="!emailLogList.length>0" style="padding:40px; opacity: .8;color: rgb(80, 74, 74);letter-spacing: 1px;" class="col-md-offset-2 col-md-8 ">
    <div class="col-md-12">
      <div class="well well-lg">
        <center>
          <p style="font-size: 14px;"><b>No Log Present. </b></p>
        </center>
      </div>
    </div>
</div>

<!-- Modal -->
<div id="emailLogDetailModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 95%;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title">
        <center> Detail</center>	
        </h4>
      </div>
      <div class="modal-body">
      	<div class="row">
		<div class="col-md-12">
		<div class="col-md-2">
			<label>Send Status</label>: <span data-ng-bind="sendStatus"></span>
		</div>
		<div class="col-md-2">
			<label>File Name</label>: <span data-ng-bind="emailLogData.fileName"></span>
		</div>
		<div class="col-md-2 col-md-offset-6">
			<!-- <center></center> -->
			<button  class="btn btn-default" ng-click="saveAsExcelClicked(emailLogData)" tooltip-placement="top" uib-tooltip="click to save as excel" style="padding:5px 10px;float:right;margin: 0px 5px;">
			<i class="fa fa-table fa-lg" aria-hidden="true" style="color:#5cb85c;"></i>
			</button>	

			<button ng-if="sendStatus=='Failed'" class="btn btn-default" ng-click="resendReminderClicked(emailLogData.batchId)" tooltip-placement="top" uib-tooltip="click to resend reminder mail" style="padding:5px 10px;float:right;margin: 0px 5px;">
			<i class="fa fa-paper-plane fa-lg" aria-hidden="true" style="color:#5bc0de;"></i>
			</button>
		</div>	
		</div>
		</div>
		<br>
		<table  class="table table-bordered table-striped  table-responsive">
		<thead>
			<tr>
				<th>Customer Code</th>
				<th>Customer Name</th>
				<th>Email Id</th>
				<th><center>Send Status</center></th>
				<th><center>Remark</center></th>
				<th><center>DateTime</center></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="customer in emailLogDetailList | filter:search " ng-if="emailLogDetailList.length>0" >
				<td>{{customer.customerCode}}</td>	
				<td>{{customer.customerName}}</td>	
				<td>{{customer.email}}</td>	
				<td><center>{{customer.sendStatus}}</center></td>	
				<td><center>{{customer.remark}}</center></td>	
				<td><center>{{customer.date}}</center></td>	
			</tr>
		</tbody>
		</table>
      </div>
      <div class="modal-footer">
      	<div class="row row-control">
		<div class="col-md-10"></div>
		<div class="col-md-2">
			<button type="button" class="btn btn-block btn-default"  data-dismiss="modal">Close</button>
		</div>
		</div>
      </div>
    </div>
  </div>
</div>


