<style type="text/css">
  .form-control{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
  }
  

</style>

<div class="container"> 
<br><br>
<div class="row">
<div class="col-md-10 col-md-offset-1">
<uib-tabset active="active">
<uib-tab index="0" heading="Load File">
<div ui-view="load-view"></div>
</uib-tab>
<uib-tab index="1" heading="Unload File" ng-click="initUnload()">
<div ui-view="unload-view"></div>
</uib-tab>
<uib-tab index="2" heading="Load Email" ng-click="">
<div ui-view="loademail-view"></div>
</uib-tab>
<uib-tab index="3" heading="Send Reminder" ng-click="sendReminderClicked()">
<div ui-view="sendreminder-view"></div>
</uib-tab>
<uib-tab index="4" heading="Email Log" ng-click="emailLogTabClick()">
<div ui-view="emaillog-view"></div>
</uib-tab>
<uib-tab index="5" heading="Abort Email" ng-click="abortEmailLogTabClick()">
<div ui-view="abortemail-view"></div>
</uib-tab>

</uib-tabset>  
</div>
<div class="col-md-2"></div>


</div>