<style type="text/css">
	.form-control{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
	}
	.main-label{
		    margin: 3% 0% 3% 0%;
	}
	#bigCircle{
position: relative;
width: 140px;
margin:  0 auto;

}

.progress-wrapper{
/* width: 80%;     */
position: relative;
margin: auto;
font-size: 20px;
}
.progress1{
position: absolute;
color: #337ab7;
font-weight: 100;
line-height: 1;
/* margin: 40% 35%; */
}
.progress{
height: 20px;
margin-bottom: 0px;
}
.progress-bar{
padding: 0px;
}
 #prFileFormat tr{
 	text-align: center;
 }
</style>

<div class="container" onload=""> 
	<div class="row">
	<div class="col-md-12"><center><label class="main-label">Manage Product File</label></center></div>
	</div>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<!-- <form name="form.myForm" method="POST" enctype="multipart/form-data" action="http://192.169.1.118:8080/smartquote/uploadProductByXlsx" novalidate> -->
	
	<br>
	<div class="row row-control">
	<div class="col-md-3"><label class="sub-label">Product File</label> <span class="asteric">*</span></div>
	<div class="col-md-9">
	<input type = 'file' class = 'form-control' ng-file-select = "onExcelSelect($files)"  id = 'fileTypeExcelHost' name="productFile" required>
	<span class="invalid-control">
	<small ng-show="isRequired" style="color: red;">*Please select file to upload.</small>
  <small ng-show="isValid  && upload.type!='products'" style="color: red;">*Please select valid file (only .xlsx).</small>
	<small ng-show="isValid  && upload.type=='products'" style="color: red;">*Please select valid file (only .csv).</small>
	</span>
	<!-- ngf-pattern="'.xls,.csv,.xlsx'" accept=".xls,.csv,.xlsx" ngf-max-size="20MB" -->
	</div>
	</div>
	<br>
	<div class="row row-control">
		<div class="col-md-3"><label class="sub-label">Type</label> <span class="asteric">*</span></div>
		<div class="col-md-4"  tooltip-placement="top" uib-tooltip="upload file with product details."  tooltip-trigger="'mouseenter'"><input type="radio"  ng-model="upload.type" value="products" style="cursor: pointer;"> <label> Products</label></div>		
	</div>
	<div class="row row-control">
		<div class="col-md-3"></div>
		<div class="col-md-4" tooltip-placement="top" uib-tooltip="upload file with promo price"  tooltip-trigger="'mouseenter'"><input type="radio"  ng-model="upload.type" value="promoPrice" style="cursor: pointer;"> <label> Promo Price</label></div>
	</div>
	<div class="row row-control">
		<div class="col-md-3"></div>
		<div class="col-md-4" tooltip-placement="top" uib-tooltip="upload file with new product code"  tooltip-trigger="'mouseenter'"><input type="radio"  ng-model="upload.type" value="newProductCode" style="cursor: pointer;"> <label> New Product Code</label></div>
	</div>
	<!-- {{upload.type}} -->
	<br>
	<div class="row">
		<div class="col-md-8"></div>
		<div class="col-md-4">
		<button id="create" ng-click="addExcelToServer()" class="btn btn-block button-ok"><i class="fa fa-floppy-o" aria-hidden="true"></i> Upload</button>	
		<!-- <input type="submit" class="btn btn-primary" value="Submit"
							style="width: 100px;"> -->
		</div>
	</div>

<!-- </form> -->
</div>
<div class="col-md-3"></div>
</div>


<!-- {{progressCount}}  -->
<!-- 
<div ng-if="showProgressBar" style="position:absolute;top:0;left:0;height:100%;width:100%;background-color:rgba(255,255,255,0.2);z-index:1100;">
<center style='margin: auto; margin-top: 300px;'>
<div  >
<div id="bigCircle" >
<div class="progress-wrapper">
<div class="progress1 ng-cloak" ng-style="getStyle()" > 
	{{progressCount}} <span style="font-size:15px;">%</span>
	<br> Loading
</div>
<round-progress max="100" current="progressCount" color="#00a1f1" bgcolor="#eaeaea" radius="{{radius}}" semi="false"
rounded="false" stroke="25" clockwise="true" responsive="true" duration="800" animation="easeOutCubic" offset="0"
animation-delay="0">
</round-progress>
</div>
</div>	
</div>
</div>
</center>
</div> -->

<!-- {{upload.type}}  products newProductCode-->
<br>
<center ng-if="upload.type"><span style="color: red;">* Note: The file should be in following format.</span></center> 

<div id="scrollDiv">
<div class="row" ng-if="upload.type=='products'">
<div class="col-md-12"  style="overflow-x: scroll;">
<center>
 <table class="table table-bordered table-responsive" id="prFileFormat">
    <thead>
      <tr>
      <th> Item Code </th>
      <th> Brand </th>
      <th> Item GTIN </th>
      <th> Group </th>
      <th> Item Description </th>
      <th> Description (2) </th>
      <th> Description (3) </th>
      <th> Unit </th>
      <th> Status </th>
      <th> Condition </th>
      <th> ABC Class </th>
      <th> FLC Page No. </th>
      <th> Internet Flag </th>
      <th> Internet Tree </th>
      <th> New Internet Tree </th>
      <th> Reorder Policy </th>
      <th> Standard Cost </th>
      <th> Replacement Cost </th>
      <th> Sales Cost </th>
      <th> Region </th>
      <th> Price 0 (ex GST) </th> 
      <th> Qty Break 1 </th>
      <th> Price 1 (ex GST) </th> 
      <th> Qty Break 2 </th>
      <th> Price 2 (ex GST) </th> 
      <th> Qty Break 3 </th>
      <th> Price 3 (ex GST) </th> 
      <th> Qty Break 4 </th>
      <th> Price 4 (ex GST) </th> 
      <th> Whse </th> 
      <th> Bin Loc. </th> 
      <th> On Hand </th> 
      <th> Current Orders </th> 
      <th> Back Orders </th> 
      <th> On Order </th> 
      <th> Minimum stock </th> 
      <th> Maximum stock </th> 
      <th> Avg Mth Demand </th> 
      <th> Avg cost </th> 
      <th> Supplier </th> 
      <th> Supplier Item </th> 
      <th> Priority </th> 
      <th> Unit </th> 
      <th> Conv Factor </th> 
      <th> Pack Qty </th> 
      <th> E.O.Q. </th> 
      <th> Last Buy Date </th> 
      <th> Last Buy Price </th> 
      <th> Tax Code </th> 
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="p in records track by $index">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

    </tbody>
  </table>
</center>	
</div>
</div>
</div>


<div class="row" ng-if="upload.type=='promoPrice'">
<div class="col-md-4 col-md-offset-4">
<center>
 <table class="table table-bordered" id="prFileFormat">
    <thead>
      <tr >
        <th>Item Code</th>
        <th>Promo Price</th> 
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="p in records track by $index">
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</center>	
</div>
</div>

<div class="row" ng-if="upload.type=='newProductCode'">
<div class="col-md-4 col-md-offset-4">
<center>
 <table class="table table-bordered" id="prFileFormat">
    <thead>
      <tr>
        <th>Old Item Code</th>
        <th>New Item Code</th> 
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="p in records track by $index">
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</center>	
</div>
</div>



</div>





<!-- <div id="bigCircle" >
<div class="progress-wrapper">
<div class="progress1 ng-cloak" ng-style="getStyle()" > 
	{{count}} <span style="font-size:15px;">%</span>
	<br> Loading
</div>
<round-progress max="100" current="count" color="#00a1f1" bgcolor="#eaeaea" radius="{{radius}}" semi="false"
rounded="false" stroke="25" clockwise="true" responsive="true" duration="800" animation="easeOutCubic" offset="0"
animation-delay="0">
</round-progress>
</div>
</div> -->

<!-- <div  style='position: fixed; z-index: 1031; left: 0; right: 0; width: 100%; height: 100%; margin: auto; rgba(255,255,255,0.2); opacity: .4;'>
<center style='margin: auto; margin-top: 250px;'>

</center>
</div> -->



<!-- Floating Social Media bar Starts -->
<!-- <div class="float-sm">
  <div class="fl-fl float-fb">
    <i class="fa fa-facebook" style="font-size: 20px;color: #fff; padding: 10px 0;"></i>
    <a href="" target="_blank"> Like us!</a>
  </div>
</div> -->




