<style type="text/css" media="screen">
.main-label {
    text-transform: capitalize;
    font-size: 16px;
    color: #113654;
    margin: 3% 0% 3% 0%;
}
  
</style>

<div class="container" id="dashboardContent" style="overflow: hidden;">
 <!--  <div style="padding:50px; opacity: .8;margin-top: 2px;margin-bottom: 1px; color: rgb(80, 74, 74);letter-spacing: 1px; margin:10px;" class="row">
        <div class="col-md-12">
          <div class="no-message">
          <center><i class="fa fa-laptop fa-5x" aria-hidden="true"></i></center>
            <center>
              <p style="font-size: 16px; font-weight:bold;">User Dashboard.</p>   
              <p style="font-size: 16px;">No content available to display.</p> 
            </center>	  
          </div>
        </div>
  </div> -->
<div class="row">
  <div class="col-md-12"><center><label class="main-label">Dashboard</label></center></div>
</div>

<div style="margin-bottom:2%;">
<div class="row">
<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">  
  <div class="col-md-3">
  <div class="col-md-4" style="padding:0px;text-align: right;"><label>Agent :&nbsp;&nbsp;</label></div>
  <div class="col-md-8" style="padding:0px;">
  <select type="text" name="userGroupName" class="form-control" ng-model="agent.agentCode" ng-options="agent as agent.value for agent in agent.agentList" ng-change="changeAgent(agent.agentCode)" ng-disabled="disableSelectAgent"required>
  </div>
  </select>
  </div>  
  </div>
  <!-- {{agent}} -->
  <div class="col-md-8">
  <div class="col-md-1" style="padding:0px;text-align: right;"><label>From :&nbsp;</label></div>
  <div class="col-md-5" style="padding-left:0px;">
  <p class="input-group">
      <input type="text" name="fromDate" class="form-control" popup-placement="bottom" show-button-bar="false" uib-datepicker-popup="{{format}}" ng-model="agent.fromDate" ng-change="fromDateChanged(agent.fromDate)" is-open="popup1.opened" datepicker-options="dateOptions1" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" readonly="true" on-open-focus="false" ng-change="validateDate(agent.fromDate,agent.toDate)"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open1()" style="padding: 3px 12px;"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
  </p>
  
  </div>
  <div class="col-md-1" style="padding:0px;text-align: right;"><label>To :&nbsp;&nbsp;</label></div>
  <div class="col-md-5" style="padding-left:0px;">
  <p class="input-group">
          <input type="text" name="toDate" class="form-control" popup-placement="bottom" show-button-bar="false" uib-datepicker-popup="{{format}}" ng-model="agent.toDate" is-open="popup2.opened" datepicker-options="dateOptions2" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" on-open-focus="false" readonly="true" ng-change="validateDate(agent.fromDate,agent.toDate)"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()" style="padding: 3px 12px;"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
     </p>
  </div> 
  </div>
  <div class="col-md-1">
    <button id="create" ng-click="getDashboardResults()" class="btn button-ok" style="padding: 3px 12px;" ng-disabled="!dateValid"><i class="fa fa-eye" aria-hidden="true" ></i> View</button>
  </div>
  </div>
</div>
<div class="col-md-1"></div>
</div>
<div class="row">
<div class="col-md-8 col-md-offset-4">
  <span ng-show="!dateValid" class="invalid-control">
    <small>* From date should be smaller than to date.</small>
  </span>
</div>
<div class="col-md-offset-1"></div>
</div>
</div>

</div>


<div id="dashboardChart" ng-if="showDashboard">
<div class="row" style="margin-bottom:2%;">
<div class="col-md-3"></div>
<div class="col-md-2" ng-repeat="item in callOutData">
  <div class="bs-vcallout " ng-class="{'bs-vcallout-success':item.status=='WON','bs-vcallout-danger':item.status=='LOST','bs-vcallout-warning':item.status=='PIPELINE'}">
  <center><h5 style="font-weight: bold;text-transform: capitalize;">{{item.status}}</h5></center>
  <center>{{item.totalCount}}</center>
  <center style="font-weight: bold;">$ {{item.totalAmount}}</center>
  </div>
</div>
<!-- <div class="col-md-2">
  <div class="bs-vcallout bs-vcallout-default">
  <center><h5 style="font-weight: bold;text-transform: capitalize;">Expected To Close</h5></center>
  <center>123</center>
  <center style="font-weight: bold;">$ 123</center>
  </div>
</div> -->
<div class="col-md-3"></div>
</div>

<div class="row" >
<div class="col-md-6" style="width: 48%;padding:0px;border: 1px solid #eee;border-top-width: 10px;border-top-color: #777;margin-right: 5px;margin-left: 5px;">
  <div class="">
  <div google-chart chart="objBarChart" style="height:300px; width:550px;"></div>
  <!-- <div google-chart chart="myChartObject" style="height:300px; width:550px;"></div> -->
  </div>
</div>
<div class="col-md-6" style="width: 48%;padding:0px;border: 1px solid #eee;border-top-width: 10px;border-top-color: #777;margin-right: 5px;margin-left: 5px;">
<div class="">
  <!-- <div google-chart chart="myChartObject1" style="height:300px; width:550px;"></div> -->
<div  google-chart chart="objPieChart" style="height:300px; width:550px;"></div>      
</div>  
</div>
</div>
<div class="row" style="margin-bottom:2%;">
<div class="col-md-3"></div>
<div class="col-md-6">
  <center><h5  style="font-weight: bold;text-transform: capitalize;">
    Showing result for <label class="sub-label">{{agentData.agentCode.value}}</label> From <label class="sub-label">{{getFormattedDate(agentData.fromDate)}}</label> To 
    <label class="sub-label">{{getFormattedDate(agentData.toDate)}}</label> 
  </h5></center>
</div>
<div class="col-md-3"></div>
</div>
</div>

<div id="dashboardChart" ng-if="!showDashboard">
<div style="padding:50px; opacity: .8;margin-top: 2px;margin-bottom: 1px; color: rgb(80, 74, 74);letter-spacing: 1px; margin:10px;" class="row">
        <div class="col-md-12">
          <div class="no-message">  
          <center><i class="fa fa-frown-o fa-2x" aria-hidden="true"></i></center>
            <center>
              <p style="font-size: 16px; font-weight:bold;">No Proposal Created</p>   
              <p style="font-size: 16px;">By Agent  {{agent.agentCode.value}} From {{getFormattedDate(agent.fromDate)}} 
                To {{getFormattedDate(agent.toDate)}}</p>   
        
            </center>   
          </div> 
        </div>
  </div> 
</div>

 
