
<div  style="font-size: 12px; margin-top: 15%;margin-bottom: 10%;">
  <div style="padding:50px; opacity: .8;margin-top: 2px;margin-bottom: 1px; color: rgb(80, 74, 74);letter-spacing: 1px; margin:10px;" class="row">
        <div class="col-md-12">
          <div class="no-message">
          <center><i class="fa fa-info-circle fa-3x" aria-hidden="true"></i></center>
            <center>
              <p style="font-size: 20px; font-weight:bold;">Session Expired.</p>   
              <p style="font-size: 16px;">Please <a sref="" ng-click="redirectToLogin()"style="cursor: pointer;"><b>LOGIN</b></a> to continue.</p> 
            </center>
          </div>
        </div>
  </div>
</div>

	
			