<style type="text/css">
	.main-label {   
    margin: 3% 0% 0% 0%;
	}
	.sweet-alert button.confirm:hover {
    background-color: #7ecff4;
    }
	.table-header{
	background-color: #0f4674;
	/*#113654;*/
	color:#fff;
	}
	table.dataTable thead th, table.dataTable thead td {
	    padding: 8px 10px;
	}
	.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

</style>
<div class="container">
<div class="row">
	<div class="col-md-12"><center><label class="main-label">Manage Product</label></center></div>
</div>
<div  style="padding-bottom: 40px;" class="row" ng-if="addProductBtnShow">
		<div class="col-md-11" style="width: 84%;"></div>
		<div class="col-md-1" style="width: 16%;">
			<button id="" class="btn btn-sm btn-block btn-primary button-add" ng-click="addProductBtnClicked()" popover-placement="top" uib-popover="Click to add product."  popover-trigger="'mouseenter'"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Product</button>
		</div>
</div>
<!-- class="content-area sample-show-hide" -->

<div id="customerTable"  ng-if="isProductTableView" ng-animate="'animate'" style="font-size: 12px;"><!-- productListView.length>0 -->
<table datatable="ng" class="table row-border hover table-responsive"><!-- table-striped -->
                <thead class="table-header">
                    <tr>
		                <th style="width: 15%;">Item Code</th>
						<th style="width: 40%;word-break:break-all;">Item Description</th>						
						<th style="width: 7%;">Unit</th>
						<th style="width: 10%;">Price 0(Ex GST)</th>
						<th style="width: 10%;">Avg Cost</th>
						<th style="width: 10%;">Tax Code</th>
						<th style="width: 8%;">Action</th>
						
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in productListView">
		                <td style="width: 15%;"><span data-ng-bind="product.itemCode"></span></td>
		                <td style="width: 40%;word-break:break-all;"><span data-ng-bind="product.itemDescription"></span></td>
		                <td style="width: 7%;"><span data-ng-bind="product.unit"></span></td>
		                <td style="width: 10%;"><span data-ng-bind="product.price0exGST"></span></td>
		                <td style="width: 10%;"><span data-ng-bind="product.avgcost"></span></td>
		                <td style="width: 10%;"><span data-ng-bind="product.taxCode"></span></td>
		                <td style="width: 8%;">
		                <span style="cursor: pointer;float: left;margin: 0px 5px;" ng-click="editProductBtnClicked(product)" popover-placement="left" uib-popover="Click to edit product."  popover-trigger="'mouseenter'"><i class="glyphicon glyphicon-pencil"></i></span>
		                <span style="cursor: pointer;float: right;margin:0px 5px;" ng-click="deleteProduct(product,$index)" popover-placement="left" uib-popover="Click to delete product."  popover-trigger="'mouseenter'"><i class="glyphicon glyphicon-trash"></i></span>
		                </td>
                	</tr>
                </tbody>
</table>	
</div>

<!-- <div ng-hide="productListView.length>0" style="font-size: 12px;">
 	<div style="padding:40px; opacity: .8;margin-top: 2px;margin-bottom: 1px; color: rgb(80, 74, 74);background-color:#F1F1F1; letter-spacing: 1px; margin:10px;" class="row">
        <div class="col-md-12">
          <div class="no-message">
            <center>
              <p style="font-size: 14px; font-weight:bold;">As of now there are no products available.</p>   
               <p style="font-size: 12px;">You can add, delete product and other product related details will be shown here.</p>   
              </center>
          </div>
        </div>
  </div>
</div>
 -->
<div id="customerTable" ng-if="isProductAddView" style="margin-top: 3%;">
	<form name="form.manageProduct" novalidate>
	<div class="row">
	<div class="col-md-6 col-md-offset-3">
	<div class="row row-control">
	<div class="col-md-4"><label class="sub-label">Item Code</label>  <span class="asteric">*</span></div>
	<div class="col-md-8">
	<input type = 'text' id="targetItemCode" name="itemCode" class = 'form-control' ng-model = 'manageProduct.itemCode' focus-me="true" ng-disabled="buttonstatus=='edit'" required>
	<!-- uib-typeahead = 'productList as productList.value for productList in productList | filter:$viewValue' typeahead-on-select="getProductDetails(manageProduct.itemCode)" ng-keyup="resetOnBackspace($event)" -->
	<span ng-show="((form.manageProduct.itemCode.$dirty && form.manageProduct.itemCode.$invalid) 
	|| (form.manageProduct.itemCode.$invalid && form.manageProduct.submitted))" class="invalid-control">
	<small>*Please select product code.</small>
	</span>
    </div>
	</div>
	
	
	<div class="row row-control">
	<div class="col-md-4"><label class="sub-label">Item Description</label>  <span class="asteric">*</span></div>
	<div class="col-md-8">
	<input type = 'text' name="itemDescription" class = 'form-control' ng-model = 'manageProduct.itemDescription' autocomplete="off" required>
	<span ng-show="((form.manageProduct.itemDescription.$dirty&&form.manageProduct.itemDescription.$invalid) 
		  || (form.manageProduct.itemDescription.$invalid && form.manageProduct.submitted))" class="invalid-control">
	<small>*Please enter item description.</small>
	</span>
	</div>
	</div>
	

	<div class="row row-control">
	<div class="col-md-4"><label class="sub-label">Description 2</label></div>
	<div class="col-md-8">
	<input type="text"  class = 'form-control' name="description2" ng-model="manageProduct.description2">
	<span ng-show="((form.manageProduct.description2.$dirty && form.manageProduct.description2.$invalid) 
		  || (form.manageProduct.description2.$invalid && form.description2.submitted))" class="invalid-control">
	<small></small> 
	</span>
	</div>
	</div>
	
	
	<div class="row row-control">
	<div class="col-md-4"><label class="sub-label">Description 3</label></div>
	<div class="col-md-8">
	<input type="text"  class = 'form-control' name="description3" ng-model="manageProduct.description3">
	<span ng-show="((form.manageProduct.description3.$dirty && form.manageProduct.description3.$invalid) 
		  || (form.manageProduct.description3.$invalid && form.description3.submitted))" class="invalid-control">
		<small></small> 
	</span>
	</div>
	</div>
	
	
	<div class="row row-control">
	<div class="col-md-4"><label class="sub-label">Unit</label>  <span class="asteric">*</span></div>
	<div class="col-md-8"><input type="text" class = 'form-control' name="unit" ng-model="manageProduct.unit"  required>
	<span ng-show="((form.manageProduct.unit.$dirty && form.manageProduct.unit.$invalid) 
		  || (form.manageProduct.unit.$invalid && form.manageProduct.submitted))" class="invalid-control">
		<small ng-show="form.manageProduct.unit.$error.required">*Please enter unit.</small>
	</span>
	</div>
	</div>

	<div class="row row-control">
	<div class="col-md-4"><label class="sub-label">Price 0(ex GST)</label></div>
	<div class="col-md-8">
	<input type="number" class='form-control' name="price0exGST" ng-model="manageProduct.price0exGST" ng-pattern="/^[0-9]+(\.[0-9]{1,6})?$/" step="0">
	<span ng-show="((form.manageProduct.price0exGST.$dirty && form.manageProduct.price0exGST.$invalid) 
		  || (form.manageProduct.price0exGST.$invalid && form.manageProduct.submitted))" class="invalid-control">
		<small ng-show="form.manageProduct.price0exGST.$invalid">*price0 is invalid.</small>
	</span>
	</div>
	</div>

	<div class="row row-control">
	<div class="col-md-4"><label class="sub-label">Qty Break 1</label></div>
	<div class="col-md-8">
	<input type="number" class = 'form-control' name="qtyBreak1" ng-model="manageProduct.qtyBreak1" ng-pattern="/^[0-9]+(\.[0-9]{1,6})?$/" step="0">
	<span ng-show="((form.manageProduct.qtyBreak1.$dirty && form.manageProduct.qtyBreak1.$invalid) 
		  || (form.manageProduct.qtyBreak1.$invalid && form.manageProduct.submitted))" class="invalid-control">
		<small ng-show="form.manageProduct.qtyBreak1.$invalid">*qty break1 is invalid.</small>
	</span>
	</div>
	</div>
	

	<div class="row row-control">
	<div class="col-md-4"><label class="sub-label">Price 1(ex GST)</label></div>
	<div class="col-md-8">
	<input type="number" class = 'form-control' name="price1exGST" ng-model="manageProduct.price1exGST" ng-pattern="/^[0-9]+(\.[0-9]{1,6})?$/" step="0">
	<span ng-show="((form.manageProduct.price1exGST.$dirty && form.manageProduct.price1exGST.$invalid) 
		  || (form.manageProduct.price1exGST.$invalid && form.manageProduct.submitted))" class="invalid-control">
		<small ng-show="form.manageProduct.price1exGST.$invalid">*price1 is invalid.</small>
	</span>
	</div>
	</div>
	

	<div class="row row-control">
	<div class="col-md-4"><label class="sub-label">Qty Break 2</label></div>
	<div class="col-md-8">
	<input type="number" class = 'form-control' name="qtyBreak2" ng-model="manageProduct.qtyBreak2" ng-pattern="/^[0-9]+(\.[0-9]{1,6})?$/" step="0">
	<span ng-show="((form.manageProduct.qtyBreak2.$dirty && form.manageProduct.qtyBreak2.$invalid) 
		  || (form.manageProduct.qtyBreak2.$invalid && form.manageProduct.submitted))" class="invalid-control">
		<small ng-show="form.manageProduct.qtyBreak2.$invalid">*qty break2 is invalid.</small>
	</span>
	</div>
	</div>

	<div class="row row-control">
	<div class="col-md-4"><label class="sub-label">Price 2</label></div>
	<div class="col-md-8">
	<input type="number" class = 'form-control' name="price2exGST" ng-model="manageProduct.price2exGST" ng-pattern="/^[0-9]+(\.[0-9]{1,6})?$/" step="0">
	<span ng-show="((form.manageProduct.price2exGST.$dirty && form.manageProduct.price2exGST.$invalid) 
		  || (form.manageProduct.price2exGST.$invalid && form.manageProduct.submitted))" class="invalid-control">
		<small ng-show="form.manageProduct.price2exGST.$invalid">*price2 is invalid.</small>
	</span>
	</div>
	</div>
	
	<div class="row row-control">
	<div class="col-md-4"><label class="sub-label">Qty Break 3</label></div>
	<div class="col-md-8">
	<input type="number" class = 'form-control' name="qtyBreak3" ng-model="manageProduct.qtyBreak3"  ng-pattern="/^[0-9]+(\.[0-9]{1,6})?$/" step="0">
	<span ng-show="((form.manageProduct.qtyBreak3.$dirty && form.manageProduct.qtyBreak3.$invalid) 
		  || (form.manageProduct.qtyBreak3.$invalid && form.manageProduct.submitted))" class="invalid-control">
		<small ng-show="form.manageProduct.qtyBreak3.$invalid">*qty break3 is invalid.</small>
	</span>
	</div>
	</div>

	<div class="row row-control">
	<div class="col-md-4"><label class="sub-label">Price 3(ex GST)</label></div>
	<div class="col-md-8">
	<input type="number" class = 'form-control' name="price3exGST" ng-model="manageProduct.price3exGST" ng-pattern="/^[0-9]+(\.[0-9]{1,6})?$/" step="0">
	<span ng-show="((form.manageProduct.price3exGST.$dirty && form.manageProduct.price3exGST.$invalid) 
		  || (form.manageProduct.price3exGST.$invalid && form.manageProduct.submitted))" class="invalid-control">
		<small ng-show="form.manageProduct.price3exGST.$invalid">*price3 is invalid.</small>
	</span>
	</div>
	</div>

	<div class="row row-control">
	<div class="col-md-4"><label class="sub-label">Qty Break 4</label></div>
	<div class="col-md-8">
	<input type="number" class = 'form-control' name="qtyBreak4" ng-model="manageProduct.qtyBreak4" ng-pattern="/^[0-9]+(\.[0-9]{1,6})?$/" step="0">
	<span ng-show="((form.manageProduct.qtyBreak4.$dirty && form.manageProduct.qtyBreak4.$invalid) 
		  || (form.manageProduct.qtyBreak4.$invalid && form.manageProduct.submitted))" class="invalid-control">
		<small ng-show="form.manageProduct.qtyBreak4.$invalid">*qty break4 is invalid.</small>
	</span>
	</div>
	</div>

	<div class="row row-control">
	<div class="col-md-4"><label class="sub-label">Price 4</label></div>
	<div class="col-md-8">
	<input type="number" class = 'form-control' name=" price4exGST" ng-model="manageProduct. price4exGST" ng-pattern="/^[0-9]+(\.[0-9]{1,6})?$/" step="0">
	<span ng-show="((form.manageProduct. price4exGST.$dirty && form.manageProduct. price4exGST.$invalid) 
		  || (form.manageProduct. price4exGST.$invalid && form.manageProduct.submitted))" class="invalid-control">
		<small ng-show="form.manageProduct. price4exGST.$invalid">*price4 is invalid.</small>
	</span>
	</div>
	</div>
	<div class="row row-control">
	<div class="col-md-4"><label class="sub-label">Avg Cost</label>  <span class="asteric">*</span></div>
	<div class="col-md-8">
	<input type="number" class = 'form-control' name="avgcost" ng-model="manageProduct.avgcost" ng-pattern="/^[0-9]+(\.[0-9]{1,6})?$/" step="0" required>
	<span ng-show="((form.manageProduct.avgcost.$dirty && form.manageProduct.avgcost.$invalid) 
		  || (form.manageProduct.avgcost.$invalid && form.manageProduct.submitted))" class="invalid-control">
		<small ng-show="form.manageProduct.avgcost.$error.required">*Please enter average cost.</small>
		<small ng-show="form.manageProduct.avgcost.$invalid &&(!form.manageProduct.avgcost.$error.required)">*average cost is invalid.</small>
	</span>
	</div>
	</div>

	<div class="row row-control">
	<div class="col-md-4"><label class="sub-label">Tax Code</label></div>
	<div class="col-md-8">
	<input type="text" class = 'form-control' name="taxCode" ng-model="manageProduct.taxCode">
	<span ng-show="((form.manageProduct.taxCode.$dirty && form.manageProduct.taxCode.$invalid) 
		  || (form.manageProduct.taxCode.$invalid && form.manageProduct.submitted))" class="invalid-control">
		<small ng-show="form.manageProduct.taxCode.$error.required">*Please enter tax code.</small>
	</span>
	</div>
	</div>


	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
    	<!-- <button ng-if="buttonstatus=='edit'" ng-click="deleteProduct()" class="btn btn-default btn-block button-delete"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button> -->
    	<button ng-click="cancelAddProduct()" class="btn btn-default btn-block button-delete"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i> Cancel</button>
    	</div>
		<div class="col-md-4">
		<button id="create" ng-click="saveProductDetails()" class="btn btn-default btn-block button-ok"><i class="fa fa-floppy-o" aria-hidden="true"></i> <span ng-if="buttonstatus=='add'">Save</span><span ng-if="buttonstatus=='edit'">Update</span></button>	
		</div>
	</div>


</div>
<div class="col-md-3"></div>
</div>
</form>

</div>

</div>
