body{
position: relative;  
/*background: url(../img/bg.jpg);*/
/*background:#FEFEFA;*/
/*background:#F8F8FF;*/
/*background:#FFF;*/
/*background: url(../img/bg.jpg) repeat center center;*/
}
.login-background{
  background: url(../img/bg.jpg);
}
.userhome-background{
  background: #fff;
}
/*Controls CSS STARTS*/
input[type='number'] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.error-field{
   border: 1px solid #e74c3c;
   /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
}
.error-icon{
   color:#e74c3c;
 }
.inner-addon {
  position: relative;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  /*margin: 10px;*/

}
.right-addon input { padding-right: 30px; }
.right-addon .glyphicon { right: 0px;}

.left-addon .glyphicon  { left:  0px;}
.left-addon input  { padding-left:  30px; }

/*::-webkit-scrollbar {
    width: 12px;
    overflow: hidden;
}
::-webkit-scrollbar:hover{
    overflow: auto;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 0px;
    overflow: hidden;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    overflow: hidden;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}*/
/*Controls CSS ENDS*/

/*FOOTER START*/
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: #D6D6D0;
  text-align: center;
}
/*FOOTER END*/
/*BUTTON*/
.button-login{
  color: #fff;
  margin-top: 5%;
  background: -webkit-linear-gradient(#113654,#0e1f2d);
  border-color:#0e1f2d;
  border-radius: 0px; 
  padding: 6px 50px;
  /*color: #fff;
  background:rgba(237, 20, 61, 0.7);
  border-color: rgba(237, 20, 61, 0.7);*/
}
.button-login:hover{
  color:#fff;
  background: -webkit-linear-gradient(#6C6B6A ,#393836 );
  /*
  background:rgba(237, 20, 61, 0.5);
  border-color: rgba(237, 20, 61, 0.5);*/
}
.button-login:focus,.button-login:active{
  color:#fff;
  background: -webkit-linear-gradient(#6C6B6A ,#393836 );
  /*
  background:rgba(237, 20, 61, 0.7);
  border-color: crimson;*/
}
.button-delete{
  color: #fff;
  margin-top: 5%;
  background: -webkit-linear-gradient(#6C6B6A ,#393836 );
  border-color: #393836;
  border-radius: 0px;
}
.button-delete:hover{
  font-size: 16px;
  background:transparent;
  color: #393836;
  border-color: #393836;
}
.button-delete:focus,.button-delete:active{
  color: #fff;
  border-color: #393836;
  background: -webkit-linear-gradient(#6C6B6A ,#393836 );
}
.button-ok{
  color: #fff;
  margin-top: 5%;
  background: -webkit-linear-gradient(#113654,#0e1f2d);
  border-color:#0e1f2d;
  border-radius: 0px; 
}
.button-ok:hover{
  font-size: 16px;
  color: rgba(17, 54, 84, 1);
  border-color: rgba(17, 54, 84, 1);
  background:transparent;
}
.button-ok:focus,.button-ok:active{
  color: #fff;
  background: -webkit-linear-gradient(#113654,#0e1f2d);
  border-color:#0e1f2d;
}
.button-add{
  background: -webkit-linear-gradient(#113654,#0e1f2d);
  border-color:#24677C;
}
.link-forgot{
  color:#fff;
  float: right;
  text-decoration: none;
}
.link-forgot:hover,.link-forgot:active,.link-forgot:focus{
  color:rgb(1, 175, 246);
  float: right;
  text-decoration: none;
}
/*============NAVBAR STARTS====================*/
.navbar {
  border-radius: 0px;
}
.navbar-nav{
      margin: 0px 0px;
      /*margin: 7.5px 5px;*/
}
.navbar-inverse {
  background: #113654; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#113654,#0e1f2d);
  /*background-color: #0d3c61;*/
  border-color: #0d3c61;
  border-bottom:1px solid #dddddd;
  box-shadow:0 4px 5px -3px #ececec;
  /*position:fixed;*/
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    padding: 15px 20px;
}
.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus {
    color: #fff;
    font-size: 16px;
    /*background-color: rgb(1, 175, 246);*/
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    /*background-color: rgb(1, 175, 246);*/
   background: rgba(17, 54, 84, 0.9);
   background: -webkit-linear-gradient(top, rgba(17, 54, 84, 0.9), #607D8B);
}
.navbar-nav>li>.dropdown-menu {
    color: #fff;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
.navbar-collapse {
     padding-right: 0px; 
     padding-left: 0px; 
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #113654;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fff;
}
/*============NAVBAR ENDS====================*/
/*======= HOME SECTION ============*/
#signin{
padding: 0;
-webkit-background-size: cover;
background-size: cover;
}
#signin h1 {
padding:150px 20px 20px 0px;
color:#ff0000;
font-size:40px;
font-weight:900;
}
#signin .head-text span {
display: block; 
font-size: 25px; 
color: #fff; 
margin-bottom: 25px;
}
#signin .head-text span >i {
margin-right: 10px; 
color: #159238;
}
#signin p {
padding:10px 20px 20px 20px;
color:#fff;
font-size:16px;
line-height:20px;
font-weight:800;       
text-align:center;
}
#signin h3 {
color:#fff;
}
.div-trans {
padding: 1% 8% 1% 8%;
background-color: rgba(0, 0, 0, 0.4);
min-height: 250px;
margin-top: 150px;
color: #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 0px;
margin-bottom: 30px;
}
/*.div-trans .form-group input{
  color: #fff;
}
.div-trans .form-group input::-webkit-input-placeholder{
color: #fff;
}
.div-trans .form-group input::-moz-placeholder{
color: #fff;
}*/
.div-trans i {
margin-left: 10px; 
margin-right: 10px; 
color: #fff;
}
/*.div-trans span {
color: #ff0000;
}*/
/*#signin .form-control {
background-color:transparent;
}*/
.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}
/*=========================================*/
/*USER HOME CSS STARTS*/
.main-label{
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #113654;
  margin: 6% 0% 6% 0%

}
.sub-label{
  text-transform: capitalize;
  color: #777575;
  font-size: 15px;
}
.asteric{
 text-transform: capitalize;
  color: #777575; 
}
.container-box{
    /*border: 1px solid #c3b9b9;*/
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0px 2px 10px 2px lightgrey;
}
.container-fluid{padding: 0px;margin: 0px;}
.main-nav li a{margin:5px 32px; }
.panel-default>.panel-heading {
    color: #fff;
    background:#0f4674;
    /*background-color: #113654;*/
    /*rgb(146, 148, 150);*/
    border-color: rgb(13, 60, 97);;
}
.panel-group {
     margin-bottom: 5px; 
}
.switch {
  border-radius: 3px;
  width: 50px;
    height: 20px;
    top:5px;
}
.switch small{
  border-radius: 2px;
  width: 20px;
    height: 20px;
}
.switch.checked small {
    left: 30px;
}
.switch .on {
  top:5%;
}
.switch .off {
  top:5%;
}
/*USER HOME CSS ENDS*/
/*SWEET ALERT CSS STARTS*/
.sweet-alert {
      width: 425px;
      left: 53%;
}
.sweet-alert .sa-icon {
  margin:0px auto;
}
.sweet-alert .sa-icon {
    width: 60px;
    height: 60px;
}
.sweet-alert h2 {
  margin: 0px 0;
}
.sweet-alert .sa-icon.sa-success .sa-placeholder {
  left: 3px;
    top: 3px;
    width: 60px;
    height: 60px;
}
.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
 width: 22px;
    left: 14px;
    top: 46px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
    width: 40px;
    right: -5px;
    top: 38px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
  width: 67px;
}

.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 12px;
}
.sweet-alert .sa-icon.sa-error .sa-line {
    position: absolute;
    height: 5px;
    width: 40px;
    background-color: #F27474;
    display: block;
    top: 29px;
    border-radius: 2px;
}
.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 12px;
}
.sweet-alert .sa-icon.sa-success .sa-fix {
    height: 65px;}
    
.sweet-alert .sa-icon.sa-warning .sa-body {
      height: 24px;
}
.sweet-alert button {
    padding: 6px 17px;
    margin: 23px 5px 5px 5px;
}
/*SWEET ALERT CSS ENDS*/
.invalid-control{
  color:red;font-size:14px;word-break:break-all;
}

/*USERHOME CSS*/
.row-control{
  margin-bottom: 5px;
}

.form-control{
    height: 28px;
    padding: 5px 8px;
    font-size: 13px
}

