<style type="text/css">
/* .container-fluid{padding: 0px;margin: 0px;} */
/* .main-nav li a{margin:5px 32px; } */

</style>
<div class="container" >
	<div ng-if="isSessionExpired" style="font-size: 12px; margin-top: 15%;margin-bottom: 10%;">
	  <div style="padding:50px; opacity: .8;margin-top: 2px;margin-bottom: 1px; color: rgb(80, 74, 74);letter-spacing: 1px; margin:10px;" class="row">
	        <div class="col-md-12">
	          <div class="no-message">
	          <center><i class="fa fa-info-circle fa-3x" aria-hidden="true"></i></center>
	          <!-- <center><img src="assets/img/sessionExpired.png" height="50" width="50" ></center> -->
	            <center>
	              <p style="font-size: 20px; font-weight:bold;">Session Expired.</p>   
	              <p style="font-size: 16px;">Please <a sref="" ng-click="redirectToLogin()"style="cursor: pointer;"><b>LOGIN</b></a> to continue.</p> 
	            </center>
	          </div>
	        </div>
	  </div>
	</div>

	<div ng-if="!isSessionExpired" style="font-size: 12px; margin-top: 15%;margin-bottom: 10%;">
	  <div style="padding:50px; opacity: .8;margin-top: 2px;margin-bottom: 1px; color: rgb(80, 74, 74);letter-spacing: 1px; margin:10px;" class="row">
	        <div class="col-md-12">
	          <div class="no-message">
	          <center><i class="fa fa-laptop fa-5x" aria-hidden="true"></i></center>
	          <!-- <center><img src="assets/img/sessionExpired.png" height="50" width="50" ></center> -->
	            <center>
	              <p style="font-size: 16px; font-weight:bold;">User Dashboard.</p>   
	              <p style="font-size: 16px;">No content available to display.</p> 
	            </center>

				=====================
				<center>
				<h4>Product Search</h4>
				<pre>Model: {{product | json}}</pre>
				<!-- uib-typeahead="productGroup as productGroup.value for productGroup in getProduct($viewValue) | limitTo:50" typeahead-loading="loadingLocations" typeahead-no-results="noResults"   ng-keyup="getProduct(product,$event)"-->
			
				<!-- <input type="text" ng-model="product" placeholder="product loaded via $http" ng-keyup="getProductList(product,$event)" class="form-control"  uib-typeahead="productGroup as productGroup.value for productGroup in productListArray | limitTo:100 |filter:$viewValue" typeahead-min-length="1">
				<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
				<div ng-show="noResults">
				<i class="glyphicon glyphicon-remove"></i> No Results Found
				</div>
				-->
				
				<input type="text" ng-model="product" placeholder="product loaded via $http" class="form-control"  uib-typeahead="productGroup as productGroup.value for productGroup in getProduct($viewValue) | limitTo:100" typeahead-loading="loadingLocations">
				<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
				<div ng-show="noResults">
				<i class="glyphicon glyphicon-remove"></i> No Results Found
				</div>
				
				<br>

				<input type="text" ng-model="addProduct.itemCode" placeholder="Select product" class="form-control"  uib-typeahead="productGroup as productGroup.value for productGroup in productListArray1 | filter:$viewValue" typeahead-min-length="1">
				<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
				<div ng-show="noResults">
				<i class="glyphicon glyphicon-remove"></i> No Results Found
				</div>
				







				</center>





				<!-- {{productListArray.length}}
				<input type="text" name="" value="" placeholder="Search" class="form-control" ng-model="page">
				<ul >
			    <li ng-repeat="productGroup in productListArray | filter:page | limitTo:100 ">{{productGroup.value}}</li>
				</ul> -->

				<!-- 
				<ul class="dropdown-menu ng-isolate-scope" ng-show="isOpen() &amp;&amp; !moveInProgress" ng-style="{top: position().top+'px', left: position().left+'px'}" role="listbox" aria-hidden="false" uib-typeahead-popup="" id="typeahead-63-4339" matches="matches" active="activeIdx" select="select(activeIdx, evt)" move-in-progress="moveInProgress" query="query" position="position" assign-is-open="assignIsOpen(isOpen)" debounce="debounceUpdate" style="top: 257px; left: 15px;">
				<li class="uib-typeahead-match ng-scope" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index, $event)" role="option" id="typeahead-63-4339-option-0" style="">
				<a href="" tabindex="-1" ng-bind-html="match.label | uibTypeaheadHighlight:query" ng-attr-title="{{match.label}}" class="ng-binding ng-scope" title="ACO-123141OC (OFFICE CHOICE HEAVY DUTY A4 SHEET PROTECTORS COPYSAFE BX100 ** SUB PRODUCT 25100 **)">ACO-123141OC (OFFICE CHOICE HEAVY DUTY <strong>A4 SHEET</strong> PROTECTORS COPYSAFE BX100 ** SUB PRODUCT 25100 **)</a>
				</li>
				</ul> -->

		

	          </div>
	        </div>
	  </div>
	</div>
</div>